<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% extends "layout.html" %}

{% block title %}Etsi Arvostelu{% endblock %}

{% block content %}
<h2>Etsi arvostelu</h2>
<form action="/find_item" method="get">
  <p>
      Hakusana <input type="text" name="query" value="{{ query }}">
  </p>
  <input type="submit" value="Etsi">
</form>

{% if query %}
<h3>Tulokset</h3>
  {% for item in results %}
  <div class="item">
    <a href="/item/{{ item.id }}">{{ item.title }} - {{ item.book_name }}</a>
    {% for star in range(item.stars) %}
    <span class="fa fa-star checked"></span>
    {% endfor %}
    {% for star in range(5 - item.stars) %}
      <span class="fa fa-star"></span>
    {% endfor %}
  </div>
  {% endfor %}
{% endif %}
{% endblock %}