{% extends "layout.html" %}

{% block title %}Uusi arvostelu{% endblock %}

{% block content %}
<h2>Uusi arvostelu</h2>

<form action="/create_item" method="post">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" maxlength="50" required/>
  </p>
  <p>
    <label for="book_name">Kirjan nimi:</label><br />
    <input type="text" name="book_name" id="book_name" maxlength="80" required/>
  </p>
  <p>
      <label for="stars">Tähdet (1 - 5):</label><br />
      <input type="number" name="stars" id="stars" min="1" max="5" step="1" value="3" required/>
    </p>
  <p>
    <label for="review">Arvostelu:</label><br />
    <textarea name="review" id="review" rows="8" cols="60" maxlength="2000" required></textarea>
  </p>
  <p>
    {% for class in classes %}
    <p>
      <label for="class{{ class }}">{{ class }}:</label><br />
      <select name="classes" id="class{{ class }}">
        <option value="">(valitse)</option>
      {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä arvostelu" />
</form>
{% endblock %}