<!DOCTYPE html>
<html>

<head>
  <title>Uusi arvostelu</title>
</head>

<body>
  <h1>Uusi arvostelu</h1>
    <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Kirjan nimi: <br />
      <input type="text" name="book_name" maxlength="80" required/>
    </p>
    <p>
        Tähdet (1 - 5): <br />
        <input type="number" name="stars" min="1" max="5" step="1" value="3" required/>
      </p>
    <p>
      Arvostelu: <br />
      <textarea name="review" rows="8" cols="60" maxlength="2000" required></textarea>
    </p>
    <p>
      Genre: <br />
      <select name="genre">
        <option value="">(valitse)</option>
        <option value="fantasiakirjallisuus">fantasiakirjallisuus</option>
        <option value="humoristinen kirjallisuus">humoristinen kirjallisuus</option>
        <option value="jännityskirjallisuus">jännityskirjallisuus</option>
        <option value="kauhukirjallisuus">kauhukirjallisuus</option>
        <option value="nuortenkirjallisuus">nuortenkirjallisuus</option>
        <option value="tieteiskirjallisuus">tieteiskirjallisuus</option>
        <option value="romanttinen kirjallisuus">romanttinen kirjallisuus</option>
        <option value="historiallinen kirjallisuus">historiallinen kirjallisuus</option>
      </select>
    </p>
    <input type="submit" value="Lähetä arvostelu" />
  </form>
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>