<!DOCTYPE html>
<html>

<head>
  <title>Uusi arvostelu</title>
</head>

<body>
  <h1>Uusi arvostelu</h1>
    <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Kirjan nimi: <br />
      <input type="text" name="book_name" maxlength="80" required/>
    </p>
    <p>
        Tähdet (1 - 5): <br />
        <input type="number" name="stars" min="1" max="5" step="1" value="3" required>
      </p>
    <p>
      Arvostelu: <br />
      <textarea name="review" rows="8" cols="60" maxlength="2000" required></textarea>
    </p>
    <input type="submit" value="Lähetä arvostelu" />
  </form>
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>