<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>

<p>
  Käyttäjällä on yhteensä {{ user_items | count }} arvostelua.
  Käyttäjän arvosteluissa antamien tähtien keskiarvo on {{ average }}.
</p>
<h3>Arvostelut</h3>
{% for item in user_items %}
  <div class="item">
    <a href="/item/{{ item.id }}">{{ item.title }} - {{ item.book_name }}</a>
    {% for star in range(item.stars) %}
    <span class="fa fa-star checked"></span>
    {% endfor %}
    {% for star in range(5 - item.stars) %}
      <span class="fa fa-star"></span>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}